.webuploader-container {
    position: relative;
    display: inline-block;
}

.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    cursor: pointer;
    background-color: #00ad6b;
    background-image: url('../../images/upload.png');
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 40px center;
    color: #fff;
    text-align: left;
    border-radius: 3px;
    width: 130px;
    padding-left: 70px;
    height: 50px;
    line-height: 50px;
    opacity: 0.3;
    cursor: default;
}

.webuploader-pick-hover {
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}

.wu-example .thumbnail {
    width: 110px;
    height: 110px;
}

.wu-example .thumbnail img {
    width: 100%;
}

.wu-example {
    position: relative;
    overflow: hidden;
}

.wu-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #bbb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.uploader-list {
    width: 100%;
    overflow: hidden;
}

.file-item {
    float: left;
    position: relative;
    margin: 0 20px 20px 0;
    /*padding: 4px;*/
}

.file-item .error {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px;
    opacity: 0.7;
}

.file-item .info {
    position: absolute;
    left: 0px;
    bottom: 10px;
    right: 0px;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    /*background: rgba(0, 0, 0, 0.6);*/
    z-index: 16;
    text-align: right;
}

.file-item .info span {
    display: inline-block;
    width: 50px;
    line-height: 25px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    background: #00ad6b;
    margin-right: 5px;
    text-align: center;
}

.file-item .progress {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 3px;
    left: 0px;
    height: 15px;
    overflow: hidden;
    z-index: 15;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: transparent;
}

.file-item .progress span {
    display: block;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #d14 url(../../images/progress.png) repeat-x;
    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;
    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;
    -webkit-transform: translateZ(0);
}

.video-upload-box .info-line .cancelfile {
    margin-left: 10px;
    color: #00ad6b;
}

.video-upload-box .video-progress {
    background: #f7f7f7;
    padding: 15px 20px;
    width: 560px;
    margin: 0 auto;
}

.video-upload-box .progress {
    width: 100%;
    height: 4px;
    background: #e3e3e3;
    margin-top: 10px;
}

.video-upload-box .progress span {
    height: 100%;
    background: #00ad6b;
    width: 30%;
    display: block;
}

.video-upload-box .video-success {
    text-align: center;
    display: none;
}

.video-upload-box .video-success div {
    width: 300px;
    height: 220px;
    background:url(../../images/videoplayer.png) center center;
    display: inline-block;
    margin-bottom: 10px;
    background-size:contain;
    background-repeat: no-repeat;
}
.create-others-box .video-upload-box .video-success div{
    background-color: #eee;
}
.video-upload-box .video-success a {
    width: 150px;
    line-height: 34px;
    border: 1px solid #ededed;
    display: inline-block;
}