#ckplayerDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 450px;
    margin: -239px 0 0 -400px;
    z-index: 999;
    border: 10px solid #fff;
    border-top: 37px solid #fff;
    display: none;
}

#ckplayerDialog .close {
    position: absolute;
    top: -49px;
    right: -22px;
    width: 30px;
    height: 30px;
    background: transparent url(http://static.51talk.com/static/images/html/www/vedio_close.png?v=K6eianSdlRFQBbhCpXs3hw%3D%3D);
    z-index: 99;
}

#layer {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
@media (max-width:768px) {
  #ckplayerDialog {
      left: 8%;
      width: 80%;
      height: 280px;
      margin: -160px 0 0 0px;
      border: none;
  }
  #ckplayerDialog .close {
      top: -15px;
      right: -15px;
  }
}
