

.zhaopin-kls{

    overflow: hidden;

}

.zhaopin-kls .m-poster {
    height:620px;
    width: 100%;
    background:url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;

}
.zhaopin-kls .m-poster .sdff{}
.zhaopin-kls .m-poster .poster-title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    font-size: 56px;
    line-height: 66px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply {
    width: 100%;
    position: absolute;
    bottom:22%;
}
.zhaopin-kls .m-poster .btn-apply .center-c {
    display: table;
    margin: 0 auto;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn {
    font-size: 22px;
    line-height: 30px;
    float: left;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 4px 30px 7px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn:hover{ background-color:#F60;}
.zhaopin-kls .m-poster .icon-scroll-down-c {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 86%;
    font-size: 56px;
    line-height: 66px;
    color: #fff;

}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scroll-down {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-left: 2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scrolln {
    width: 30px;
    height: 30px;
    margin: 0 auto;
	border-bottom:2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .equent {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 10px;
	padding-top:30px;
	text-align:center;
	overflow:hidden;
}

.zhaopin-kls .equent .asjfk{
   width: 90%;
    font-size: 42px;
    margin-left: 50px;
    float: left;}
.zhaopin-kls .equent .asjfk .title {
    display: block;
    font-size: 42px;
    line-height: 48px;

}
.jjjtitle {
background-color:#f4f7f7; width:100%;
   
}
.fdsffdf { overflow:hidden; padding-top: 40px;}

.zhaopin-kls .equent .asjfk .doc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    font-weight: 100;
}
.zhaopin-kls .equent .asjfk .sff {
    display: block;
    font-size: 42px;
    line-height: 48px;
    padding-top: 50px;
}
.zhaopin-kls .equent .duiesd{
   width: 50%;
    float: right;
	margin-right:50px;
	margin-top:-30px;
	
  }
.juzhong{ text-align:center;
    display: block;
    font-size: 42px;
    line-height: 48px;
	}
.zhaopin-kls .equent .jhhjj{}
.zhaopin-kls .equent .jhhjj .dfs-df{ width:45%; height:120px; border-radius:10px;
line-height:80px; margin-left:50px; margin-top:30px;}
.zhaopin-kls .equent .jhhjj .dfs-df .df-p{ display:inline-block; float:left;}
.dfg-kk{ float:left;}
.dff-juh{ float:right;}
.zhaopin-kls .equent .sfd-dd{ margin-top:20px; overflow:hidden;}

.zhaopin-kls .equent .sfd-dd .dfs-io{    width: 15%;
    border-radius: 10px;
    line-height: 50px;
    margin-top: 30px;
	text-align:center;
	}

.zhaopin-kls .equent .sfd-dd .dfg-fd{    width: 70%;
    background-color:#FFF;
	border:
    border-radius: 10px;
    line-height: 20px;
    margin-top: 30px;
	 margin-bottom:30px;
	
    padding: 40px 50px 24px;
    border-radius:15px;
	}
.sda-jjdfs{ margin-top:90px;}
#triangle-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 50px solid #FFF;
    border-bottom: 30px solid transparent;
	margin-left:50px;
	margin-bottom:-400px;
	margin-top:100px;
	display:block;
	float:left;
	overflow:hidden;

}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid #FFF;
    border-bottom: 30px solid transparent;
	float:right;
	margin-right:50px;
	margin-bottom:-400px;
	margin-top:100px;
	display:block;
}

@media screen and (max-width:1000px) {
    .zhaopin-kls .equent .jhhjj .dfs-df{
        width: 100%;
        font-size: 1.5rem;
    }
    .zhaopin-kls .equent .jhhjj .dfs-df .df-p{
        margin-left: 20px;
    }
    .dfg-kk,
    .dff-juh{
        float: none;
    }
}

