/* CSS Document */

* {
    margin: 0;
    padding: 0;
}
html { overflow-y: scroll; }
body {
    line-height: 24px;
    color: #333;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
}

element.style {
    opacity: 1;
    top: -23.5px;
}
li, ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.zhaopin-wrapper .zhao-c .btn-area a {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: lighter;
}

.zhaopin-wrapper {
    font-size: 16px;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: block;
    top: -1px;
    left: 0;
    border-bottom: 1px solid #d8d8d8;
}

.zhaopin-wrapper .zhao-img {
    width: 165px;
    height: 39px;
    display: block;
    background-position: 50%;
    background: url(../img/biao.png) no-repeat;
    background-size: contain;
    float: left;
    margin-left: 40px;
    margin-top: 8px;
}
.zhao-c{}
.zhaopin-wrapper .zhao-c .btn-area {
    display: table;
    margin: 10px auto;
    font-weight: 300;
    float: right;
    margin-right: 20px;
}
.font-light {
    font-family: Roboto-light;
}
.zhaopin-wrapper .zhao-c .btn-area li {
    display: table-cell;
    vertical-align: middle;
}

.zhaopin-wrapper .zhao-c .btn-area li a {
    padding: 5px 15px;
    color: #000;
    display: block;
}
.zhaopin-wrapper .zhao-c .btn-area li a:hover {

    color:#F30;

}
.orange {
    color: #ffb733;
}
.osda {
    color:#d3a945;
}
.osda a:hover{ color:#F60;}
.footer-wrapper {
    width: 100%;
    position: relative;
    background:#999;
}
.footer-wrapper .link-area {
    width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    text-align:center;
    color: #fff;
    padding-bottom: 37px;
}
.footer-wrapper .link-area .banquan {
    line-height: 10px;
    padding-top:40px;
}
.footer-wrapper .link-area .banquan a {
    color:#FFF;
}
.footer-wrapper .link-area .banquan a:hover {
    color:#F30;
}

@media screen and (max-width:1000px) {
    .footer-wrapper .link-area .banquan a{
        font-size: 1.5rem;
    }
    .footer-wrapper .link-area .banquan{
        font-size: 1.5rem;
    }
}





