/* CSS Document */

* {
    margin: 0;
    padding: 0;
}
html { overflow-y: scroll; }
body {
    line-height: 24px;
    color: #333;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
}

element.style {
    opacity: 1;
    top: -23.5px;
}
li, ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.body-account {
    background:url(../img/denglu.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}
.zhaopin-wrapper {
    font-size: 16px;
    width: 100%;
	position:absolute;
    z-index: 9999;
    display: block;
	margin-top:10px;
}

.zhaopin-wrapper .zhao-img {
    width: 150px;
    height: 65px;
    display: block;
    background-position: 50%;
    background:url(../img/biao.png) no-repeat;
    background-size: contain;
    float: left;
    margin-left: 40px;
}
.zhao-c{}
.zhaopin-wrapper .zhao-c .btn-area {
    display: table;
    margin: 10px auto;
    font-weight: 300;
    float: right;
    margin-right: 20px;
}
.font-light {
    font-family: Roboto-light;
}
.zhaopin-wrapper .zhao-c .btn-area li {
    display: table-cell;
    vertical-align: middle;
	font-weight: normal
}

.zhaopin-wrapper .zhao-c .btn-area li a {
    padding: 5px 15px;
	color:#FFF;
    display: block;
	font-weight: normal
}
.zhaopin-wrapper .zhao-c .btn-area li a:hover {

    color:#F30;

}
.zhaopin-kls{

    overflow: hidden;

}

.zhaopin-kls .m-poster {
    height:800px;
    width: 100%;
    background:url(../img/denglu.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;

}
.zhaopin-kls .m-poster .sdff{}
.zhaopin-kls .m-poster .poster-title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 10%;
    font-size: 36px;
    line-height: 46px;
    color: #fff;
}
.zhaopin-kls .m-poster .pos-gh{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
    font-size: 24px;
    line-height:50px;
	margin-top:20px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply {
    width: 100%;
    position: absolute;
    bottom:30%;
}
.zhaopin-kls .m-poster .btn-apply .center-c {
    display: table;
    margin: 0 auto;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn {
    font-size: 22px;
    line-height: 30px;
    float: left;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 4px 60px 7px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn:hover{ background-color:#F60;}
.zhaopin-kls .m-poster .icon-scroll-down-c {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 70%;
    font-size: 16px;
    line-height: 66px;
    color: #fff;

}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scroll-down {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-left: 2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scrolln {
    width: 30px;
    height: 30px;
    margin: 0 auto;
	border-bottom:2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}

.footer-wrapper {
	top:55%;
    width: 100%;
    position: relative;
}
.footer-wrapper .link-area {
    width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
	text-align:center;
    color:#999;
    padding-bottom: 37px;
}
.footer-wrapper .link-area .banquan {
    line-height: 10px;
	padding-top:40px;
}
.footer-wrapper .link-area .banquan a {
    	color:#999;
}
.footer-wrapper .link-area .banquan a:hover {
    color:#F30;
}


.zhaopin-kls .m-poster .register-form {
    margin: 6px auto;
    top: 30%;
    width: 300px;
    position: relative;
}
.zhaopin-kls .m-poster .register-form .username .email-tip {
    display: none;
    width: 270px;
    background: hsla(0,0%,85%,.75);
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    color: #000;
    top: 6px;
    left: -290px;
    padding: 12px 18px;
    text-align: left;
}
.zhaopin-kls .m-poster .register-form input {
    width: 300px;
    height: 42px;
    background: hsla(0,0%,100%,.75);
    border-radius: 5px;
    margin-top: 12px;
    font-size: 16px;
    text-indent: 1rem;
    outline: none;
    border: 0;
    font-family: Roboto;
    font-weight: 600;
    word-spacing: 4px;
}
.zhaopin-kls .m-poster .register-form .password .password-tips-c {
    display: none;
    position: absolute;
    width: 250px;
    background: hsla(0,0%,85%,.75);
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    left: -270px;
    top: 44px;
    text-align: left;
    padding: 12px 6px 16px 18px;
}
.zhaopin-kls .m-poster .register-form .password .password-tips-c a:hover{ color:#F0F;}
.orange {
    color: #ffb733;
}
.zhaopin-wrapper .zhao-c .btn-area a{font-family: Verdana, Geneva, sans-serif; font-weight:lighter}
.zhaopin-kls .m-poster .register-form .verify-code-area img {
    width: 88px;
    height: 42px;
    margin-left: 12px;
    vertical-align: bottom;
    cursor: pointer;
    line-height: 42px;
    font-size: 16px;
    border-radius: 5px;
}
.zhaopin-kls .m-poster .register-form .verify-code-area input {
    width: 200px;
    height: 42px;
    background: hsla(0,0%,100%,.75);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
    text-indent: 1rem;
    border: 0;
}