/* CSS Document */

* {
    margin: 0;
    padding: 0;
}
html { overflow-y: scroll; }
body {
    line-height: 24px;
    color: #333;
	font-size: 14px;

	font-family: Verdana, Geneva, sans-serif;
    font-weight: 400;
}

element.style {
    opacity: 1;
    top: -23.5px;
}
li, ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.zhaopin-wrapper .zhao-c .btn-area a{font-family: Verdana, Geneva, sans-serif;}
.zhaopin-wrapper {
    font-size: 16px;
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: block;
    top: -1px;
    left: 0;
    border-bottom: 1px solid #d8d8d8;
}

.zhaopin-wrapper .zhao-img {
    width: 150px;
    height: 65px;
    display: block;
    background-position: 50%;
    background:url(../img/biao.png) no-repeat;
    background-size: contain;
    float: left;
    margin-left: 40px;
}
.zhao-c{}
.zhaopin-wrapper .zhao-c .btn-area {
    display: table;
    margin: 10px auto;
    font-weight: 300;
    float: right;
    margin-right: 20px;
}
.font-light {
    font-family: Roboto-light;
}
.zhaopin-wrapper .zhao-c .btn-area li {
    display: table-cell;
    vertical-align: middle;
}

.zhaopin-wrapper .zhao-c .btn-area li a {
    padding: 5px 15px;
    color: #000;
    display: block;
}
.zhaopin-wrapper .zhao-c .btn-area li a:hover {

    color:#F30;

}
.zhaopin-kls{

    overflow: hidden;

}

.zhaopin-kls .m-poster {
    height:740px;
    width: 100%;
    background:url(../img/fsq.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;

}
.zhaopin-kls .m-poster .sdff{}
.zhaopin-kls .m-poster .poster-title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
    font-size: 56px;
    line-height: 66px;
	font-weight:bold;
    color: #fff;
}
.zhaopin-kls .m-poster .pitle {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    font-size: 40px;
    line-height: 66px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply {
    width: 100%;
    position: absolute;
    bottom:30%;
}
.zhaopin-kls .m-poster .btn-apply .center-c {
    display: table;
    margin: 0 auto;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn {
    font-size: 22px;
    line-height: 30px;
    float: left;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 4px 30px 7px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn:hover{ background-color:#F60;}
.zhaopin-kls .m-poster .icon-scroll-down-c {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 86%;
    font-size: 56px;
    line-height: 66px;
    color: #fff;

}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scroll-down {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-left: 2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scrolln {
    width: 30px;
    height: 30px;
    margin: 0 auto;
	border-bottom:2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .equent {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 10px;
	padding-top:60px;
	overflow:hidden;
}

.zhaopin-kls .equent .asjfk{
   width: 40%;
    font-size: 42px;
    margin-left: 50px;
    float: left;}
.zhaopin-kls .equent .asjfk .title {
    display: block;
    font-size: 42px;
    line-height: 48px;

}
.jjjtitle {
background-color:#f4f7f7; width:100%;
   
}
.fdsffdf { overflow:hidden; padding-top: 40px;

   
}
.orange {
    color: #ffb733;
}
.osda {
    color:#d3a945;
}
.zhaopin-kls .equent .asjfk .doc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    font-weight: 100;
}
.zhaopin-kls .equent .asjfk .sff {
    display: block;
    font-size: 42px;
    line-height: 48px;
    padding-top: 50px;
}
.zhaopin-kls .equent .duiesd{
   width: 50%;
    float: right;
	margin-right:50px;
	margin-top:-30px;
	
  }
.juzhong{ text-align:center;
    display: block;
    font-size: 42px;
    line-height: 48px;
	}
.zhaopin-kls .equent .jhhjj{}
.zhaopin-kls .equent .jhhjj .dfs-df{ width:45%; height:120px; background-color:#f9f9f7; border-radius:10px;
line-height:120px; margin-left:50px; margin-top:30px;}
.zhaopin-kls .equent .jhhjj .dfs-df .df-p{ display:inline-block; float:left;}
.dfg-kk{ float:left;}
.dff-juh{ float:right;}
.zhaopin-kls .equent .sfd-dd{ margin-top:20px; overflow:hidden;}

.zhaopin-kls .equent .sfd-dd .dfs-io{    width: 15%;
    border-radius: 10px;
    line-height: 50px;
    margin-top: 30px;
	text-align:center;
	}

.zhaopin-kls .equent .sfd-dd .dfg-fd{    width: 70%;
    background-color:#FFF;
	border:
    border-radius: 10px;
    line-height: 20px;
    margin-top: 30px;
	 margin-bottom:30px;
	
    padding: 40px 50px 24px;
    border-radius:15px;
	}
.sda-jjdfs{ margin-top:90px;}
#triangle-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 50px solid #FFF;
    border-bottom: 30px solid transparent;
	margin-left:50px;
	margin-bottom:-400px;
	margin-top:100px;
	display:block;
	float:left;
	overflow:hidden;

}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid #FFF;
    border-bottom: 30px solid transparent;
	float:right;
	margin-right:50px;
	margin-bottom:-400px;
	margin-top:100px;
	display:block;
}

.footer-wrapper {
    width: 100%;
    position: relative;
    background:#999;
}
.footer-wrapper .link-area {
    width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
	text-align:center;
    color: #fff;
    padding-bottom: 37px;
}
.footer-wrapper .link-area .banquan {
    line-height: 10px;
	padding-top:40px;
}
.footer-wrapper .link-area .banquan a {
    color:#FFF;
}
.footer-wrapper .link-area .banquan a:hover {
    color:#F30;
}



.zhaopin-kls .m-faq-content {
    padding: 0 0 0 30px;
    max-width: 1280px;
    margin: 80px auto 0;
    overflow: hidden;
    min-height: 446px;
}
.zhaopin-kls .m-faq-content .nav-area {
    position: fixed;
    width: 320px;
    float: left;
    overflow-y: auto;
}
.zhaopin-kls .m-faq-content .left-content {
    font-size: 22px;
    line-height: 26px;
    color: #9b9b9b;
}
.zhaopin-kls .m-faq-content .left-content .catalog {
    cursor: pointer;
    margin: 20px 0;
}
.zhaopin-kls .m-faq-content .left-content li .active, .faq-wrapper .m-faq-content .left-content li a:hover {
    color: #000;
}
.zhaopin-kl .m-faq-content .left-content li {
    cursor: pointer;
    margin: 10px 0;
}
li, ul {
    list-style: none;
}
.zhaopin-kls .m-faq-content .mobile-catalog-c {
    display: none;
    position: relative;
    left: 0;
    z-index: 1;
    margin-bottom: 40px;
}
.zhaopin-kls .m-faq-content .mobile-catalog-c .mobile-catalog {
    color: #737373;
    font-size: 22px;
    line-height: 48px;
    padding: 5px 20px;
    border-bottom: 1px solid #e1e1e1;
}
.zhaopin-kls .m-faq-content .right-content {
    margin-top: -44px;
    margin-left: 400px;
	margin-bottom:30px;
}
.zhaopin-kls .m-faq-content .right-content .title {
    display: block;
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 20px;
    padding-top: 45px;
}
.question-answer {
    border-bottom: 1px solid #e1e1e1;
}
.zhaopin-kls .m-faq-content .right-content .question {
    position: relative;
    font-size: 22px;
    line-height: 26px;
    padding: 20px 0;
    color: #8e8e8e;
    border-top: 1px solid #e1e1e1;
    cursor: pointer;
}
.zhaopin-kls .m-faq-content .right-content .answer {
    position: relative;

    line-height: 22px;
    padding: 20px 30px;
    color: #4a4a4a;

    word-spacing: 1px;
    display: none;
    background-color: #fafafa;
}
.zhaopin-kls .m-faq-content .right-content .question:after {
    content: ' ';
    font-size: 38px;
    line-height: 26px;
    position: absolute;
    right: 25px;
    color: #9b9b9b;
    float: right;
    width: 20px;
    height: 20px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(135deg);
    transition: transform .5s;
}
.zhaopin-kls .m-faq-content .left-content li a {
    display: block;
    position: relative;
    text-align: left;
    text-decoration: none;
    color: #c8c8c8;
}
.zhaopin-kls .m-faq-content .left-content li .active, .faq-wrapper .m-faq-content .left-content li a:hover {
    color: #000;}

.zhaopin-kls .m-faq-content .left-content li a:hover {

    color:#000;
}
.zhaopin-kls .m-faq-content .right-content .question:hover {
    color: #000;
}
.zhaopin-kls .m-faq-content .left-content .hhjsad{ background:url(../img/faq1.png) no-repeat center; height:163px; padding-top:30px; padding-bottom:60px; }
.zhaopin-kls .m-faq-content .left-content .xjd{ text-align:center; color:#FFF;}
.zhaopin-kls .m-faq-content .left-content .uhgf{padding-top:50px; font-size:24px; font-weight:bold;}
.zhaopin-kls .m-faq-content .left-content .jhds{ border-radius:15px; width:120px; text-align:center; margin:auto; margin-top:20px; line-height:30px;border:1px #FFFFFF solid;}
.zhaopin-kls .m-faq-content .left-content .jhds:hover{ background-color:#F60;}
.zhaopin-kls .m-faq-content .left-content .jhds a{text-align:center; color:#FFF;}