
.zhaopin-kls{

    overflow: hidden;

}

.zhaopin-kls .m-poster {
    height:620px;
    width: 100%;
    background:url(../img/TechReqs.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;

}
.zhaopin-kls .m-poster .sdff{}
.zhaopin-kls .m-poster .poster-title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    font-size: 56px;
    line-height: 66px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply {
    width: 100%;
    position: absolute;
    bottom:22%;
}
.zhaopin-kls .m-poster .btn-apply .center-c {
    display: table;
    margin: 0 auto;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn {
    font-size: 22px;
    line-height: 30px;
    float: left;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 4px 30px 7px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn:hover{ background-color:#F60;}
.zhaopin-kls .m-poster .icon-scroll-down-c {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 86%;
    font-size: 56px;
    line-height: 66px;
    color: #fff;

}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scroll-down {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-left: 2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scrolln {
    width: 30px;
    height: 30px;
    margin: 0 auto;
	border-bottom:2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .equent {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 10px;
	padding-top:30px;
	overflow:hidden;
}
.zhaopin-kls .sfdfsdsa {
	line-height:100px;
}
.zhaopin-kls .equent .asjfk{
   width:100%;
    font-size: 42px;

	text-align:center;
}
.zhaopin-kls .equent .asjfk .title {
    display: block;
    font-size: 42px;
    line-height: 48px;

}
.zhaopin-kls .dsfsf-df {
	margin-left:50px;
}
.zhaopin-kls .sdads {
   color:#F30;
  font-size: 16px;
  line-height: 30px;
  margin-bottom:20px;
  margin-top:40px;
}
.jjjtitle {
 width:100%;
   
}
.jjjddftitle {
background-color:#f4f7f7; width:100%;
   
}
.fdsffdf { overflow:hidden; padding-top: 40px;

   
}

.zhaopin-kls .equent .asjfk .doc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    font-weight: 100;
}
.zhaopin-kls .equent .asjfk .sff {
    display: block;
    font-size: 42px;
    line-height: 48px;
    padding-top: 50px;
}
.zhaopin-kls .equent .duiesd{
   width: 50%;
    float: right;
	margin-right:50px;
	margin-top:-30px;
	
  }
.juzhong{ text-align:center;
    display: block;
    font-size: 42px;
    line-height: 48px;
	}
.zhaopin-kls .equent .jhhjj{ margin-bottom:40px; margin-top:30px; overflow:hidden;}
 .zhaopin-kls .equent .jhhjj .dfs-df{ width:44%;line-height:20px; margin-left:50px; margin-top:30px}
 .zhaopin-kls .equent .jhhjj .dfs-df .df-p{ display:inline-block; float:left; font-size: 16px;}
.zhaopin-kls .equent .jhhjj .dfs-df .df-k{ display:inline-block; float:left; width:80%;  margin-top:40px;}
.dfg-kk{ float:left;}
.dff-juh{ float:right;}
.zhaopin-kls .equent .sfd-dd{ margin-top:20px; margin-left:80px; overflow:hidden;}
.zhaopin-kls .equent .dsf-f{ margin-bottom:30px;}
.zhaopin-kls .equent .title {
    display: block;
    font-size: 32px;
    line-height: 60px;


}

.zhaopin-kls .equent .sfd-dd .dfs-io{    width: 45%;
    border-radius: 10px;
    line-height: 50px;

	}

.zhaopin-kls .equent .sfd-dd .dfg-fd{    width: 40%;
    margin-right:60px;
    background-color:#FFF;
    line-height: 50px;
	 margin-bottom:30px;

	}
.zhaopin-kls .equent .sfd-dd .do-text {
  color:#666;
  font-size: 16px;
  line-height: 30px;}
.zhaopin-kls .equent .sfd-dd .fdsdst { padding-top:50px;}
  
  
.sda-jjdfs{ margin-top:90px;}
#triangle-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 50px solid #FFF;
    border-bottom: 30px solid transparent;
	margin-left:50px;
	margin-bottom:-400px;
	margin-top:100px;
	display:block;
	float:left;
	overflow:hidden;

}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid #FFF;
    border-bottom: 30px solid transparent;
	float:right;
	margin-right:50px;
	margin-bottom:-400px;
	margin-top:100px;
	display:block;
}



.zhaopin-kls .equent .jhhjj .dfs-df table {
    width: 100%;
    border-collapse: collapse;
	padding-top:30px;
	margin-bottom:20px;
	border-bottom: 1px solid #e1e1e1;
}
.zhaopin-kls .equent .jhhjj .dfs-df table .table-row-1 {
    font-size: 14px;
    background: #e5e8e0;
    color: #000;
}
.zhaopin-kls .equent .jhhjj .dfs-df table tr {
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    color: #4a4a4a;
}
.zhaopin-kls .equent .jhhjj .dfs-df table .table-row-2 {
    font-size: 14px;
    color: #000;
}
.font-regular {
    font-family: Roboto-regular;
}
.zhaopin-kls .equent .jhhjj .dfs-df table tr td {
    text-align: center;
    padding: 10px 0;
	
}
@media screen and (max-width:1000px) {
    .zhaopin-kls .equent .jhhjj .dfs-df .df-k{
        font-size: 1rem;
    }
    .zhaopin-kls .equent .sfd-dd .do-text{
        font-size: 1rem;
    }
}

