.equipment-wrapper {
    margin-top: 54px;
    overflow: hidden
}

@media screen and (max-width:768px) {
    .equipment-wrapper {
        margin-bottom: 25px;
        margin-top: 54px
    }
}

.equipment-wrapper .m-poster {
    height: 280px;
    width: 100%;
    background: url(//fe-static.vipkidteachers.com/img/home/equipment/bg-picture-f83f9f98cf.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    font-family: Roboto-light
}

@media screen and (max-width:768px) {
    .equipment-wrapper .m-poster {
        font-weight: 900
    }
}

.equipment-wrapper .m-poster .poster-title {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 37%;
    font-size: 56px;
    line-height: 66px;
    color: #fff
}

@media screen and (max-width:768px) {
    .equipment-wrapper .m-poster .poster-title {
        font-size: 46px;
        line-height: 54px;
        top: 100px
    }
}

.equipment-wrapper .m-equipment-content {
    margin: 0 auto;
    padding-bottom: 60px;
    background: #f2f2f2;
}
.equipment-wrapper .content-two{
    background: #fff;
}
@media screen and (max-width:768px) {
    .equipment-wrapper .content-two,.equipment-wrapper .m-equipment-content {
        margin: 0;
        padding: 0
    }
}

.equipment-wrapper .content-two .mobile-catalog-c,.equipment-wrapper .m-equipment-content .mobile-catalog-c {
    display: none;
    position: relative;
    left: 0;
    z-index: 1;
    margin-bottom: 40px
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .mobile-catalog-c,.equipment-wrapper .m-equipment-content .mobile-catalog-c {
        display: block
    }
}

.equipment-wrapper .content-two .mobile-catalog-c .mobile-catalog,.equipment-wrapper .m-equipment-content .mobile-catalog-c .mobile-catalog {
    color: #737373;
    font-size: 22px;
    line-height: 48px;
    padding: 5px 20px;
    border-bottom: 1px solid #e1e1e1
}

.equipment-wrapper .content-two .mobile-catalog-c .mobile-catalog:hover,.equipment-wrapper .m-equipment-content .mobile-catalog-c .mobile-catalog:hover {
    color: #000
}

.equipment-wrapper .content-two .content-two-inner,.equipment-wrapper .content-two .mid-content,.equipment-wrapper .m-equipment-content .content-two-inner,.equipment-wrapper .m-equipment-content .mid-content {
    width: calc(100% - 270px);
    margin: 0 auto
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner,.equipment-wrapper .content-two .mid-content,.equipment-wrapper .m-equipment-content .content-two-inner,.equipment-wrapper .m-equipment-content .mid-content {
        float: none;
        width: 100%;
        margin: 0
    }
}

.equipment-wrapper .content-two .content-two-inner .content-list,.equipment-wrapper .content-two .mid-content .content-list,.equipment-wrapper .m-equipment-content .content-two-inner .content-list,.equipment-wrapper .m-equipment-content .mid-content .content-list {
    overflow: hidden;
    display: table
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .content-list,.equipment-wrapper .content-two .mid-content .content-list,.equipment-wrapper .m-equipment-content .content-two-inner .content-list,.equipment-wrapper .m-equipment-content .mid-content .content-list {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 15px
    }
}

.equipment-wrapper .content-two .content-two-inner .content-list-three,.equipment-wrapper .content-two .mid-content .content-list-three,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three,.equipment-wrapper .m-equipment-content .mid-content .content-list-three {
    margin: 0 auto 30px;
    text-align: center
}

.equipment-wrapper .content-two .content-two-inner .content-list-three .list-left-top,.equipment-wrapper .content-two .content-two-inner .content-list-three .list-right-top,.equipment-wrapper .content-two .mid-content .content-list-three .list-left-top,.equipment-wrapper .content-two .mid-content .content-list-three .list-right-top,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-left-top,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-right-top,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-left-top,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-right-top {
    margin-bottom: 14px
}

.equipment-wrapper .content-two .content-two-inner .content-list-three .list-left-top img,.equipment-wrapper .content-two .content-two-inner .content-list-three .list-right-top img,.equipment-wrapper .content-two .mid-content .content-list-three .list-left-top img,.equipment-wrapper .content-two .mid-content .content-list-three .list-right-top img,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-left-top img,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-right-top img,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-left-top img,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-right-top img {
    width: 60px;
    height: 60px
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .content-list-three .list-left-top img,.equipment-wrapper .content-two .content-two-inner .content-list-three .list-right-top img,.equipment-wrapper .content-two .mid-content .content-list-three .list-left-top img,.equipment-wrapper .content-two .mid-content .content-list-three .list-right-top img,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-left-top img,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-right-top img,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-left-top img,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-right-top img {
        width: 50px;
        height: 50px
    }
}

.equipment-wrapper .content-two .content-two-inner .content-list-three .list-left,.equipment-wrapper .content-two .content-two-inner .content-list-three .list-right,.equipment-wrapper .content-two .mid-content .content-list-three .list-left,.equipment-wrapper .content-two .mid-content .content-list-three .list-right,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-left,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-right,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-left,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-right {
    width: 200px;
    height: 100px;
    display: inline-block
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .content-list-three .list-left,.equipment-wrapper .content-two .content-two-inner .content-list-three .list-right,.equipment-wrapper .content-two .mid-content .content-list-three .list-left,.equipment-wrapper .content-two .mid-content .content-list-three .list-right,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-left,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-right,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-left,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-right {
        width: 100px;
        height: 105px
    }
}

.equipment-wrapper .content-two .content-two-inner .content-list-three .list-left-bottom,.equipment-wrapper .content-two .content-two-inner .content-list-three .list-right-bottom,.equipment-wrapper .content-two .mid-content .content-list-three .list-left-bottom,.equipment-wrapper .content-two .mid-content .content-list-three .list-right-bottom,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-left-bottom,.equipment-wrapper .m-equipment-content .content-two-inner .content-list-three .list-right-bottom,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-left-bottom,.equipment-wrapper .m-equipment-content .mid-content .content-list-three .list-right-bottom {
    font-size: 18px;
    line-height: 28px;
    display: block;
    font-family: Roboto-light
}

.equipment-wrapper .content-two .content-two-inner .title,.equipment-wrapper .content-two .mid-content .title,.equipment-wrapper .m-equipment-content .content-two-inner .title,.equipment-wrapper .m-equipment-content .mid-content .title {
    display: block;
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 60px;
    padding-top: 90px;
    font-family: Roboto-light;
    text-align: center
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .title,.equipment-wrapper .content-two .mid-content .title,.equipment-wrapper .m-equipment-content .content-two-inner .title,.equipment-wrapper .m-equipment-content .mid-content .title {
        margin: 0;
        padding: 20px;
        font-size: 28px;
        line-height: 48px
    }
}

.equipment-wrapper .content-two .content-two-inner .title span.orange,.equipment-wrapper .content-two .mid-content .title span.orange,.equipment-wrapper .m-equipment-content .content-two-inner .title span.orange,.equipment-wrapper .m-equipment-content .mid-content .title span.orange {
    margin-right: 13px
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .title span.green,.equipment-wrapper .content-two .mid-content .title span.green,.equipment-wrapper .m-equipment-content .content-two-inner .title span.green,.equipment-wrapper .m-equipment-content .mid-content .title span.green {
        display: block
    }
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .fixed-title,.equipment-wrapper .content-two .mid-content .fixed-title,.equipment-wrapper .m-equipment-content .content-two-inner .fixed-title,.equipment-wrapper .m-equipment-content .mid-content .fixed-title {
        position: fixed;
        top: 51px;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 5px 20px
    }
}

.equipment-wrapper .content-two .content-two-inner .list,.equipment-wrapper .content-two .mid-content .list,.equipment-wrapper .m-equipment-content .content-two-inner .list,.equipment-wrapper .m-equipment-content .mid-content .list {
    position: relative;
    font-size: 22px;
    line-height: 26px;
    color: #333;
    font-family: Roboto-light;
    width: 50%;
    float: left;
    padding-left: 60px;
    height: 130px
}

@media screen and (min-width:576px) and (max-width:900px) {
    .equipment-wrapper .content-two .content-two-inner .list,.equipment-wrapper .content-two .mid-content .list,.equipment-wrapper .m-equipment-content .content-two-inner .list,.equipment-wrapper .m-equipment-content .mid-content .list {
        height: 175px
    }
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .list,.equipment-wrapper .content-two .mid-content .list,.equipment-wrapper .m-equipment-content .content-two-inner .list,.equipment-wrapper .m-equipment-content .mid-content .list {
        height: auto;
        width: 100%;
        font-size: 18px;
        line-height: 22px;
        margin: 15px auto;
        padding-left: 60px
    }
}

.equipment-wrapper .content-two .content-two-inner .list .list-left,.equipment-wrapper .content-two .mid-content .list .list-left,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left,.equipment-wrapper .m-equipment-content .mid-content .list .list-left {
    position: absolute;
    left: 0;
    display: inline
}

.equipment-wrapper .content-two .content-two-inner .list .list-left img,.equipment-wrapper .content-two .mid-content .list .list-left img,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left img,.equipment-wrapper .m-equipment-content .mid-content .list .list-left img {
    width: 50px;
    height: 50px
}

.equipment-wrapper .content-two .content-two-inner .list .list-left .img-camera,.equipment-wrapper .content-two .content-two-inner .list .list-left .img-cpu,.equipment-wrapper .content-two .content-two-inner .list .list-left .img-headset,.equipment-wrapper .content-two .mid-content .list .list-left .img-camera,.equipment-wrapper .content-two .mid-content .list .list-left .img-cpu,.equipment-wrapper .content-two .mid-content .list .list-left .img-headset,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-camera,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-cpu,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-headset,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-camera,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-cpu,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-headset {
    margin-left: 10px
}

.equipment-wrapper .content-two .content-two-inner .list .list-left .img-device,.equipment-wrapper .content-two .mid-content .list .list-left .img-device,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-device,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-device {
    height: 50px;
    width: 60px
}

.equipment-wrapper .content-two .content-two-inner .list .list-left .img-os,.equipment-wrapper .content-two .mid-content .list .list-left .img-os,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-os,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-os {
    width: 52px;
    height: 40px;
    margin-top: 10px;
    margin-left: 8px
}

.equipment-wrapper .content-two .content-two-inner .list .list-left .img-memory,.equipment-wrapper .content-two .mid-content .list .list-left .img-memory,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-memory,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-memory {
    width: 46px;
    height: 52px;
    margin-left: 14px
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .list .list-left .img-memory,.equipment-wrapper .content-two .mid-content .list .list-left .img-memory,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-memory,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-memory {
        margin-top: 5px
    }
}

.equipment-wrapper .content-two .content-two-inner .list .list-left .img-network,.equipment-wrapper .content-two .mid-content .list .list-left .img-network,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-network,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-network {
    margin-left: 10px
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .list .list-left .img-network,.equipment-wrapper .content-two .mid-content .list .list-left .img-network,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-network,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-network {
        margin-top: 5px
    }
}

.equipment-wrapper .content-two .content-two-inner .list .list-left .img-flash,.equipment-wrapper .content-two .mid-content .list .list-left .img-flash,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-flash,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-flash {
    width: 46px;
    height: 46px;
    margin-left: 14px
}

@media screen and (max-width:768px) {
    .equipment-wrapper .content-two .content-two-inner .list .list-left .img-flash,.equipment-wrapper .content-two .mid-content .list .list-left .img-flash,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-left .img-flash,.equipment-wrapper .m-equipment-content .mid-content .list .list-left .img-flash {
        margin-top: 5px
    }
}

.equipment-wrapper .content-two .content-two-inner .list .list-right,.equipment-wrapper .content-two .mid-content .list .list-right,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-right,.equipment-wrapper .m-equipment-content .mid-content .list .list-right {
    margin-left: 24px
}

.equipment-wrapper .content-two .content-two-inner .list .list-right span.top,.equipment-wrapper .content-two .mid-content .list .list-right span.top,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-right span.top,.equipment-wrapper .m-equipment-content .mid-content .list .list-right span.top {
    display: block;
    font-size: 26px;
    color: #000;
    opacity: .5;
    -moz-opacity: .5;
    -khtml-opacity: .5;
    line-height: 30px
}

.equipment-wrapper .content-two .content-two-inner .list .list-right span.bottom,.equipment-wrapper .content-two .mid-content .list .list-right span.bottom,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-right span.bottom,.equipment-wrapper .m-equipment-content .mid-content .list .list-right span.bottom {
    display: block;
    font-size: 18px;
    line-height: 26px;
    margin-top: 6px
}

.equipment-wrapper .content-two .content-two-inner .list .list-right span.bottom a.download,.equipment-wrapper .content-two .mid-content .list .list-right span.bottom a.download,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-right span.bottom a.download,.equipment-wrapper .m-equipment-content .mid-content .list .list-right span.bottom a.download {
    text-decoration: underline;
    cursor: pointer;
    color: #000
}

.equipment-wrapper .content-two .content-two-inner .list .list-right span.bottom a.download:hover,.equipment-wrapper .content-two .mid-content .list .list-right span.bottom a.download:hover,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-right span.bottom a.download:hover,.equipment-wrapper .m-equipment-content .mid-content .list .list-right span.bottom a.download:hover {
    color: #73ba00
}

.equipment-wrapper .content-two .content-two-inner .list .list-right span.bottom2,.equipment-wrapper .content-two .mid-content .list .list-right span.bottom2,.equipment-wrapper .m-equipment-content .content-two-inner .list .list-right span.bottom2,.equipment-wrapper .m-equipment-content .mid-content .list .list-right span.bottom2 {
    margin-top: -1px
}

.equipment-wrapper .content2 {
    width: 100%;
    background: #fff;
}