
.zhaopin-kls{

    overflow: hidden;

}

.zhaopin-kls .m-poster {
    height:740px;
    width: 100%;
    background:url(../img/ben.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;

}
.zhaopin-kls .m-poster .sdff{}
.zhaopin-kls .m-poster .poster-title {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
    font-size: 56px;
    line-height: 66px;
    color: #fff;
}
.zhaopin-kls .m-poster .btn-apply {
    width: 100%;
    position: absolute;
    bottom:28%;
}
.zhaopin-kls .m-poster .btn-apply .center-c {
    display: table;
    margin: 0 auto;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn {
    border-radius: 50px;
    color: #fff;
    width: 345px;
    line-height: 60px;
    font-size: 30px;
    background: rgb(255, 39, 56);
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    display: block;
}
.zhaopin-kls .m-poster .btn-apply .center-c .btn:hover{}
.zhaopin-kls .m-poster .icon-scroll-down-c {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 86%;
    font-size: 56px;
    line-height: 66px;
    color: #fff;

}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scroll-down {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-left: 2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .m-poster .icon-scroll-down-c .icon-scrolln {
    width: 30px;
    height: 30px;
    margin: 0 auto;
	border-bottom:2px solid #fff;
    border-color: #fff;
    color: #f60;
    transform: rotate(-45deg);
    cursor: pointer;
}
.zhaopin-kls .equent {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 10px;
	padding-top:60px;
	overflow:hidden;
}

.zhaopin-kls .equent .asjfk{
   width: 40%;
    font-size: 42px;
    margin-left: 50px;
    float: left;}
.zhaopin-kls .equent .asjfk .title {
    display: block;
    font-size: 42px;
    line-height: 48px;

}
.jjjtitle {
background-color:#f4f7f7; width:100%;
   
}
.fdsffdf { overflow:hidden; padding-top: 40px;

   
}

.zhaopin-kls .equent .asjfk .doc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    font-weight: 100;
}
.zhaopin-kls .equent .asjfk .sff {
    display: block;
    font-size: 42px;
    line-height: 48px;
    padding-top: 50px;
}
.zhaopin-kls .equent .duiesd{
   width: 50%;
    float: right;
	margin-right:50px;
	margin-top:-30px;
	
  }
.juzhong{ text-align:center;
    display: block;
    font-size: 42px;
    line-height: 48px;
	}
.zhaopin-kls .equent .jhhjj .dfs-df{ width:45%; height:120px; background-color:#f9f9f7; border-radius:10px;
line-height:20px; margin-left:50px; margin-top:30px}
.zhaopin-kls .equent .jhhjj .dfs-df .df-p{ display:inline-block; float:left; width:20%;}
.zhaopin-kls .equent .jhhjj .dfs-df .df-k{ display:inline-block; float:left; width:80%;  margin-top:40px;}
.dfg-kk{ float:left;overflow:hidden;}
.dff-juh{ float:right;overflow:hidden;}
.zhaopin-kls .equent .sfd-dd{overflow:hidden;}

.zhaopin-kls .equent .sfd-dd .dfs-io{    width: 15%;
    border-radius: 10px;
    line-height: 50px;
	text-align:center;
	}
.zhaopin-kls .equent .sfd-dd .dfs-io img{
    border-radius: 100px;
}
.zhaopin-kls .equent .sfd-dd .dfg-fd{    width: 70%;
    background-color:#FFF;
	border:
    border-radius: 10px;
    line-height: 20px;
    margin-top: 30px;
	 margin-bottom:30px;
	
    padding: 40px 50px 24px;
    border-radius:15px;
	}
.sda-jjdfs{ margin-top:90px;}
#triangle-left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 50px solid #FFF;
    border-bottom: 30px solid transparent;
	margin-left:50px;
	margin-bottom:-400px;
	margin-top:70px;
	display:block;
	float:left;
	overflow:hidden;

}
#triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 50px solid #FFF;
    border-bottom: 30px solid transparent;
	float:right;
	margin-right:50px;
	margin-bottom:-400px;
	margin-top:70px;
	display:block;
}
@media screen and (max-width:1000px) {
    .zhaopin-kls .equent .asjfk{
        width: 100%;
        margin-left: 0;
        text-align: center;
        float: none;
    }
    .zhaopin-kls .equent .duiesd{
        width: 100%;
        text-align: center;
        float: none;
        margin: none;
        margin-top: 10px;
    }
    .zhaopin-kls .equent .jhhjj .dfs-df{
        width: 100%;
        margin-left: 20px;
    }
    .dfg-kk,
    .dff-juh{
        float: none;
    }
    .zhaopin-kls .equent .sfd-dd .dfs-io{
        width: 100%;
        margin-top: 30px;
    }
    .zhaopin-kls .equent .sfd-dd .dfg-fd{
        width: 85%;
        margin: 30px auto;
    }
    .zhaopin-kls .equent .jhhjj .dfs-df .df-k{
        font-size: 1rem;
    }
    .footer-wrapper .link-area .banquan a{
        font-size: 1.5rem;
    }
    .footer-wrapper .link-area .banquan{
        font-size: 1.5rem;
    }
}







